li {float:left;
    text-decoration: none;
}
li a {
    display: block;
    color: blueviolet;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
    text-decoration: none;
}

.announcement-bar {
    background-color: #c94493;
    font-family: sans-serif;
    color: antiquewhite;
  }
