.announcement-bar {
  background-color: #c94493;
  font-family: sans-serif;
  font-size: larger;
  color: antiquewhite;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding: auto;
  border-radius: 15px;
}
.navbar{
  overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    background-color: #f7b0da;
    width: 95%;
    height: 50px;
    border:#c94493, 5px solid;
    border-radius: 10px;
}

.navbar li {float:left;
    text-decoration: none;
    display: inline;
}
.navbar li a {
    display: block;
    background-color: #f7b0da;
    color: blueviolet;
    text-align: center;
    font-family: sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar li a:hover {
    background-color: #c94493;
    border-radius: 10px;
}

.navbar .active {
    background-color: #c94493;
    border-radius: 10px;
}

  .backgroundlogo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .hometext h1 {
    color: blueviolet;
    text-align: center;
    font-family: sans-serif; 
    }

    .hometext h2 {
      color: blueviolet;
      text-align: center;
      font-family: sans-serif; 
      }

      .hometext p {
        font-family: sans-serif;
        text-align: center;
        margin: auto;
        padding: auto;
        width: 50%;
        
      }

  .contact h1 {
  color: blueviolet;
  text-align: center;
  font-family: sans-serif; 
  }

.contact span {
  color: blueviolet;
  text-align: center;
  font-family: sans-serif;

}

  input[type=text] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=email] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=reset]:hover {
    background-color: #45a049;
  }


  .product-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0px;
	width:100%;
  color: blueviolet;
  text-align: center;
  font-family: sans-serif;
}

.p-box{
	width:450px;
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	position: relative;
	margin: 10px 30px;
  padding: auto;
}

p-box img{
	height:180px;
}

.productsimg{ 
height: 350px;
width: auto;
border-radius: 10px;

}

footer
{ text-align: center;
  left: 0;
  bottom: 0;
  position: relative;
  color: white;
  overflow: hidden;
  margin: 50px;
  background-color: #f7b0da;
  border:#c94493, 5px solid;
  border-radius: 10px;

} /*w3school https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_footer_css */

  .fa {
    padding: 15px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.faqtext{
  font-family: sans-serif
}

.faqtext h1{
  color: blueviolet;
  text-align: center;
  font-family: sans-serif;
}

.faqtext a{
  text-decoration: none;
  color: blueviolet;
}